.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3rem;
  gap: 2rem;

  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-gray-3);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: 3.5rem;
  transition: transform 400ms ease;
}
